body
{
  background-color:aquamarine;
  color:rgb(47, 102, 203);
}

.heading
{
   width: 70%;
   font-size:30px; 
}

.objects,#result-object-name,#result-object-accuracy
{
  color:rgb(251, 24, 251);  
}

#camera
{
   border:7px dotted rgb(227, 167, 56);
   width: 45%;
   height: 45%;
}

